.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: transparent linear-gradient(180deg, #c2e3f3 0%, #6aa3c1 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 4px 6px 23px #a9a9a911;
  opacity: 1;
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;

  h1 {
    color: var(--unnamed-color-425966);
    text-align: left;
    font: normal normal normal 23px/28px MonsterClubhouse;
    letter-spacing: 0px;
    color: #425966;
  }

  img {
    width: 228px;
    height: 106px;
    margin-top: -20px;
  }
}

@media (min-width: 768px) and (max-width: 1278px) {
  .footer {
    height: 116px;

    h1 {
      font: normal normal normal 39px/47px MonsterClubhouse;
    }

    img {
      width: 378px;
      height: 175px;
      margin-top: -40px;
    }
  }
}

@media (min-width: 1279px) {
  .footer {
    height: 167px;

    h1 {
      font: normal normal normal 56px/67px MonsterClubhouse;
    }

    img {
      width: 535px;
      height: 248px;
      margin-top: -60px;
    }
  }
}
